.breedchildrow {
    margin-bottom: 10px;

    &:last-child {
        margin: unset;
    }

    &:hover {
        background-color: rgb(228, 228, 228);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
    }

    &__images {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }

    &__img {
        width: 140px;
        height: 140px;
    }
}
